<h1>Add a new photo</h1>

<form action="/pictures" method="POST">
	<p>
		<label>Artist</lable><br>
		<input type="text" name="artist"/>
	</p>

	<p>
		<lable>Title</lable><br>
		<input type="text" name="title"/>
	</p>

	<p>
		<lable>URL</lable><br>
		<input type="text" name="url"/>
	</p>
	<p>
		<input type="submit"/>
	</p>
</form>